*.tlog

*.idb

*.pdb

*.log

*.ipch

*.obj

*.exe

*.ilk

.svn



/**/Debug:
/**/Release:

/Debug/
/Release/

Debug/*
Release/*

**/Debug/*
**/Release/*

Projects/GDI_CapturingAnImage/GDI_CapturingAnImage/captureqwsx.bmp

**/*.qmlc
**/*.pro.user
**/*.qmlproject.user